.trending-tags-card {
  @include side-tag-list;

  .link-card {
    width: 100%;
    margin-bottom: 4px;
  }

  .link-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pointer {
  cursor: pointer;
  pointer-events: auto !important;
}
